@charset "UTF-8";
body {
  height: 100vh;
  font-size: 100%;
  background: rgb(212, 218, 232);
  color: rgb(98, 109, 135);
  font-family: "M PLUS Rounded 1c";
  overflow: hidden;
}

a {
  text-decoration: none;
}

header {
  background: rgb(150, 160, 182);
  height: 60px;
}
header h1 {
  color: rgb(212, 218, 232);
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-family: "Lobster", cursive;
}
header h1 a {
  color: rgb(212, 218, 232);
}
header h1 span {
  font-size: 0.8rem;
  padding-left: 0.2rem;
  font-family: serif;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
main #toolTip {
  position: fixed;
  text-align: center;
  line-height: 1.5;
  font-size: 1.3rem;
  top: 15px;
  right: 150px;
  width: 30px;
  height: 30px;
  background: rgb(212, 218, 232);
  border-radius: 50%;
  cursor: pointer;
}
main #toolTip:hover + .mainWrap .main::after {
  display: block;
}
main #copy {
  position: fixed;
  bottom: 80px;
  right: 120px;
  font-size: 0.8rem;
  border-radius: 6px;
  text-align: center;
  background-color: rgb(233, 235, 241);
  color: rgb(98, 109, 135);
  padding: 5px;
  line-height: 1;
  cursor: pointer;
  z-index: 11;
}
main #detail {
  position: fixed;
  top: 15px;
  right: 60px;
  font-size: 0.8rem;
  border-radius: 30px;
  text-align: center;
  background: rgb(212, 218, 232);
  color: rgb(98, 109, 135);
  padding: 0 10px;
  line-height: 1;
  cursor: pointer;
  height: 30px;
}
main #shutdown {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url("../shutdown.png") no-repeat;
  background-size: 100%;
}
main #shutdown:active {
  background: url("../shutdown_active.png") no-repeat;
  background-size: 100%;
}
main #shutdown::after {
  content: "";
  display: block;
  width: 400px;
  height: 130px;
  position: absolute;
  left: -360px;
  top: 28px;
  background: url("../shutdown_balloon.png");
  background-size: 100% 100%;
  display: none;
}
main #shutdown:hover::after {
  display: block;
}
main #menuDisplay {
  position: fixed;
  background: #fff;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  padding: 50px;
  line-height: 1.5;
  overflow-y: scroll;
  z-index: 5;
  transform: translateX(100%);
  transition: transform 0.5s;
}
main #menuDisplay.active {
  transform: translateX(0);
  transition: transform 0.5s;
}
main #menuDisplay > ul > li {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 2;
}
main #menuDisplay > ul li ul li {
  font-size: 16px;
  list-style: circle;
  margin-left: 20px;
}
main .over,
main .overDetail {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  background: rgba(1, 1, 1, 0.4);
  -webkit-animation: deru 0.1s ease-out;
          animation: deru 0.1s ease-out;
  cursor: pointer;
}
main .overDiv {
  width: 90%;
  height: 90%;
  padding: 50px 30%;
  font-size: 2rem;
  position: fixed;
  top: 5%;
  left: 5%;
  background: #fff;
  z-index: 20;
  overflow: scroll;
  border-radius: 10px;
}
main .hidden {
  /* display: none; */
  -webkit-animation: kieru 0.3s;
          animation: kieru 0.3s;
}
@-webkit-keyframes kieru {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes kieru {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes deru2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes deru2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes deru {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes deru {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .mainWrap {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  height: calc(100% - 60px);
}
main .mainWrap .main {
  width: 60%;
  min-width: 300px;
  height: 90%;
  align-self: center;
  position: relative;
  overflow-y: scroll;
}
main .mainWrap .main::after {
  content: "この領域でマウスを左右に振ると、\aランダムにした結果をクリアできます。";
  white-space: pre;
  text-align: center;
  line-height: 2;
  font-size: 2rem;
  display: block;
  position: absolute;
  top: 0;
  padding: 100px;
  width: 95%;
  height: 93.5%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.615);
  display: none;
}
main .mainWrap .main .optionBox {
  position: fixed;
  bottom: 120px;
  width: 200px;
  height: 80px;
}
main .mainWrap .main .optionBox input {
  width: 150px;
}
main .mainWrap .main .optionBox p {
  line-height: 3;
}
main .mainWrap .main button {
  width: 200px;
  height: 40px;
  margin-top: 25px;
  border-radius: 6px;
  text-align: center;
  background-color: rgb(233, 235, 241);
  color: rgb(98, 109, 135);
  line-height: 1;
}
main .mainWrap .main #resultTable {
  white-space: nowrap;
  width: 40%;
  margin: 4% auto;
  font-size: 1.3rem;
  line-height: 1.5;
}
main .mainWrap .side {
  width: 40%;
  min-width: 450px;
  padding: 0 40px;
  height: 90%;
  align-self: center;
}
main .mainWrap .side .sideWrap {
  overflow-y: scroll;
  border-radius: 40px;
  box-shadow: inset 9.91px 9.91px 15px #C1C6D3, inset -9.91px -9.91px 15px #E7EEFD;
  width: 100%;
  height: 100%;
  padding: 50px;
  position: relative;
}
main .mainWrap .side .sideWrap > h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
main .mainWrap .side .sideWrap > h2 span {
  font-size: 1rem;
}
main .mainWrap .side .sideWrap > h2 input {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 12px;
  border-radius: 6px;
  text-align: center;
  background-color: rgb(233, 235, 241);
  color: rgb(98, 109, 135);
  padding: 0 6px;
  font-weight: normal;
}
main .mainWrap .side .sideWrap > h3 {
  font-weight: bolder;
  font-size: 1rem;
}
main .mainWrap .side .sideWrap .form {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
main .mainWrap .side .sideWrap .form #text {
  background: #d4dae8;
  border-radius: 8px;
  box-shadow: inset 3px 3px 2px #C1C6D3, inset -3px -3px 2px #E7EEFD;
  height: 40px;
  font-size: 1rem;
  color: rgb(63, 72, 93);
  padding-left: 5px;
  width: 100%;
  display: block;
  margin-bottom: 0.2rem;
}
main .mainWrap .side .sideWrap .form #add {
  position: relative;
  top: -40px;
  left: 93%;
  padding-left: 30px;
  width: 23px;
  height: 25px;
}
main .mainWrap .side .sideWrap .form #add::before {
  /* 背景の表示設定 */
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 3px;
  width: 23px;
  /* 横幅 */
  height: 23px;
  /* 高さ */
  border-radius: 50%;
  /* 角の丸み */
}
main .mainWrap .side .sideWrap .form #add::after {
  /* くの字の表示設定 */
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 8px;
  width: 10px;
  height: 10px;
  border-top: 3px solid rgb(63, 72, 93);
  border-right: 3px solid rgb(63, 72, 93);
  transform: rotate(45deg);
}
main .mainWrap .side .addTextWrap {
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}
main .mainWrap .side .addTextWrap .addText {
  width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}
main .mainWrap .side .addTextWrap .addText tr:first-child {
  position: relative;
  border-bottom: 1px solid rgb(98, 109, 135);
}
main .mainWrap .side .addTextWrap .addText tr:first-child td {
  padding-bottom: 15px;
  margin-bottom: 10px;
}
main .mainWrap .side .addTextWrap .addText td button {
  color: rgb(98, 109, 135);
}
main .mainWrap .side .addTextWrap .addText tr:nth-child(2) td {
  padding-top: 20px;
}
main .mainWrap .side .addTextWrap .addText tr > td:first-child {
  width: 70%;
}
main .mainWrap .side .addTextWrap .addText tr > td:last-child {
  width: 30%;
}
main .mainWrap .side #start {
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 40px;
  left: calc(50% - 100px);
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
}
main .mainWrap .side #start:hover span {
  -webkit-animation: text-reset 0.2s 0.8s forwards;
          animation: text-reset 0.2s 0.8s forwards;
  opacity: 0;
}
main .mainWrap .side #start span {
  color: rgb(98, 109, 135);
  font-weight: 900;
  transition: opacity 0.2s;
}
main .mainWrap .side .btn-82:after,
main .mainWrap .side .btn-82:before {
  border: 2px solid rgb(98, 109, 135);
  border-radius: 999px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.2s;
  width: 100%;
}
main .mainWrap .side .btn-82:after {
  background: rgb(98, 109, 135);
  border: none;
  height: 2rem;
  width: 0;
  z-index: -1;
}
main .mainWrap .side .btn-82:hover:before {
  -webkit-animation: border-reset 0.2s linear 0.78s forwards;
          animation: border-reset 0.2s linear 0.78s forwards;
  height: 2rem;
}
main .mainWrap .side .btn-82:hover:after {
  -webkit-animation: progress-bar 1s;
          animation: progress-bar 1s;
}
@-webkit-keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}
@keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }
  10% {
    opacity: 1;
    width: 15%;
  }
  25% {
    opacity: 1;
    width: 25%;
  }
  40% {
    opacity: 1;
    width: 35%;
  }
  55% {
    opacity: 1;
    width: 75%;
  }
  60% {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}
@-webkit-keyframes border-reset {
  0% {
    height: 2rem !important;
  }
  to {
    height: 100% !important;
  }
}
@keyframes border-reset {
  0% {
    height: 2rem !important;
  }
  to {
    height: 100% !important;
  }
}
@-webkit-keyframes text-reset {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes text-reset {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img[src="shutdown_display.png"] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=index.css.map */